 /*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); */

body, html {
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
	border: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.top_header {
	width: 100%;
    height: 30px;

}
.top_header .topnav{
     /*background: #f19696;*/
     float: right;
    cursor: pointer;
    width: 300px;
    height: 30px;
    /*padding-top: 5px;*/
    /* padding-bottom: 15px;*/
    /*padding-right: 10px;*/
    justify-content: center;
    justify-items: center;
    color: black;
}


.adminHeader{
     width: 100%;
     height: 100px;
     background-color: black;
    padding-top: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

#showcase{
width: 100%;
height: 100vh;
background-image: url(../images/showbackground.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
flex-direction: column;

}


.mainheader{
    width: 100%;
    height: 150px;
    
    justify-content: center;
    align-items: center;
        /* background-color: lightcoral; */
}

.mainheader .logo{
    height: 150px;
    float: left;
    resize: both;
    size: 50px;
    margin-left: 200px;

}

.title{
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.mainheader .mainnav {
    height: 150px;
    float: right;
    justify-content: center;
    justify-items: center;
    margin-right: 200px;
   
    padding-top: 20px;
    color: white;

}


.mainnav nav ul{
    float: right;
    margin-right: 10px;
}

 mainnav nav ul li{
    display: inline-block;
    padding-right: 10px;
}

 mainnav nav ul li a{
     color: #ffffff;
 }
 a.active,a:hover{
     color:cornflowerblue;
 }


.img{
max-width: 100%;
height: auto;
background-color: lightblue;
/*background: radial-gradient(white 30%);*/

}

.fa-star,
.fa-star-half{
    color:goldenrod;
    padding: 3% 0;
}

.input_quantity{
    width: 50px;
    height: 30px;
    text-align: left;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
}
#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border:1px;

}

.button{
    border-radius: 30px;

}

.content{
    width: 80%;

}
.menu_footer{
width: 200px;

}


.footer{

    height: 250px;
    width: 100%;
    background-color: black;

}

.footer .links{

    color: white;
    margin-left: 20px;
}
ul li a{
    color: white;
}

 .footer .btn_email{
     float: right;
     background: #ff7617;
     color: white;
     border: none;
     height: 25px;
     padding-bottom: 4px;
     border-bottom-right-radius: 5px;
 }
 .footer input{
     justify-content: center;
     float: right;
     border: none;
     height: 25px;
     margin-top: 35px;
     margin-bottom: 10px;
 }

 .footer .subscribe{
    display: inline-block;
}

a{
    color: white;
}
.footer  i.fab {
    color: white;
    font-size: 18px;
    padding-top: 42px;
    padding-left:10px;
    padding-right:10px;
    float: right;
}
.footer .logo{

}

.input_shipping{
    height: 30px;

    color: black;
    -moz-user-focus: normal;
}
